name: build

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
      - .github/workflows/release.yml
      - container/**
      - .github/workflows/container.yml
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        las-version: [ 1.1, 1.2, 1.3, 1.4, 1.5 ]

    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_MULTILEVEL_LOOKUP: false
      MaximumLasVersion: ${{ matrix.las-version }}

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run local/dotnet-restore@v1
        run: dotnet restore

      - name: Run local/dotnet-build@v1
        run: |
          dotnet build generators/IO.Las.CodeGeneration --no-restore
          dotnet build --no-restore

      - name: Run local/dotnet-test@v1
        run: dotnet test --no-build --results-directory ${{ github.workspace }}/coverage/results --coverage --coverage-output-format cobertura

      - uses: danielpalme/ReportGenerator-GitHub-Action@v5
        with:
          reports: ${{ github.workspace }}/coverage/results/*.cobertura.xml
          targetdir: ${{ github.workspace }}/coverage/reports
          reporttypes: HtmlInline;Cobertura;MarkdownSummaryGithub
          verbosity: Verbose

      - name: Run local/update-step-summary@v1
        run: cat '${{ github.workspace }}/coverage/reports/SummaryGithub.md' >> $GITHUB_STEP_SUMMARY

      - uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.las-version }}
          path: ${{ github.workspace }}/coverage/reports

  get-version:
    runs-on: ubuntu-latest

    outputs:
      semver: ${{ steps.versions.outputs.semver }}
      version: ${{ steps.versions.outputs.version }}
      prefix: ${{ steps.versions.outputs.prefix }}
      suffix: ${{ steps.versions.outputs.suffix }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run local/get-properties@v1
        id: msbuild
        working-directory: src/IO.Las
        run: |
          suffix=alpha
          if [ ${{ github.event_name }} == push ];
          then
            suffix=beta;
          fi
          
          properties=$(echo "$(dotnet msbuild -getProperty:Version,VersionPrefix,VersionSuffix /p:VersionSuffix=$suffix)"  | tr -d '\n')
          
          echo "properties=$properties" >> $GITHUB_OUTPUT

      - name: Run local/get-version@v1
        id: versions
        run: |
          echo "semver=${{ fromJSON(steps.msbuild.outputs.properties).Properties.Version }}.${{ github.run_number }}" >> $GITHUB_OUTPUT
          echo "version=${{ fromJSON(steps.msbuild.outputs.properties).Properties.Version }}" >> $GITHUB_OUTPUT
          echo "prefix=${{ fromJSON(steps.msbuild.outputs.properties).Properties.VersionPrefix }}" >> $GITHUB_OUTPUT
          echo "suffix=${{ fromJSON(steps.msbuild.outputs.properties).Properties.VersionSuffix }}" >> $GITHUB_OUTPUT

  create-nuget:
    runs-on: ubuntu-latest
    needs: [ get-version ]
    
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_MULTILEVEL_LOOKUP: false

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run local/dotnet-restore@v1
        run: dotnet restore
        
      - name: run local/dotnet-build@v1
        run: >
          dotnet build generators/IO.Las.CodeGeneration
          --no-restore
          --configuration Release

      - name: Run local/dotnet-pack@v1
        run: >
          dotnet pack
          --output ${{ github.workspace }}/nupkg
          --version ${{ needs.get-version.outputs.prefix }}
          /p:PackageVersion=${{ needs.get-version.outputs.semver }}

      - uses: actions/upload-artifact@v6
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 7
          path: ${{ github.workspace }}/nupkg

  publish:
    needs: [ get-version ]
    strategy:
      matrix:
        include:
          - runner: windows-11-arm
            arch: arm64
            os: win
          - runner: windows-latest
            arch: x64
            os: win
          - runner: ubuntu-24.04-arm
            arch: arm64
            os: linux
          - runner: ubuntu-24.04
            arch: x64
            os: linux
          - runner: macOS-latest
            arch: arm64
            os: osx
    runs-on: ${{ matrix.runner }}
    
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_MULTILEVEL_LOOKUP: false

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: run local/dotnet-build@v1
        run: >
          dotnet build generators/IO.Las.CodeGeneration
          --configuration Release

      - name: Run local/dotnet-publish@v1
        run: >
          dotnet publish tools/Las
          --arch ${{ matrix.arch }} 
          -property:PublishDir=${{ github.workspace }}/publish/${{ matrix.os }}-${{ matrix.arch }} 
          -property:Version=${{ needs.get-version.outputs.prefix }}
          -property:StripSymbols=false

      - uses: actions/upload-artifact@v6
        with:
          name: tools-${{ matrix.os }}-${{ matrix.arch }}
          if-no-files-found: error
          retention-days: 7
          path: ${{ github.workspace }}/publish/${{ matrix.os }}-${{ matrix.arch }}

  docker:
    runs-on: ubuntu-latest
    needs: [ get-version ]

    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_MULTILEVEL_LOOKUP: false

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: run local/dotnet-build@v1
        run: >
          dotnet build generators/IO.Las.CodeGeneration
          --configuration Release

      - name: Run local/dotnet-publish@v1
        run: >
          dotnet publish tools/Las
          /t:PublishContainer
          /p:ContainerArchiveOutputPath=${{ github.workspace }}/container/output
          /p:ContainerImageTag=${{ needs.get-version.outputs.prefix }}
          /p:Version=${{ needs.get-version.outputs.prefix }}

      - uses: actions/upload-artifact@v6
        with:
          name: containers
          if-no-files-found: error
          retention-days: 7
          path: ${{ github.workspace }}/container/output

  deploy:
    if: github.ref == 'refs/heads/main'
    permissions:
      packages: write
      actions: write
      contents: write
    runs-on: ubuntu-latest
    needs: [ create-nuget, run-tests, publish, docker, get-version ]

    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_MULTILEVEL_LOOKUP: false

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: nuget
          path: ${{ github.workspace }}/nupkg

      - name: Run local/dotnet-nuget-push@v1
        id: push-nuget
        working-directory: ${{ github.workspace }}/nupkg
        run: >
          dotnet nuget push *.nupkg
          --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
          --api-key ${{ secrets.GITHUB_TOKEN }}
          --skip-duplicate

      - uses: actions/download-artifact@v7
        with:
          pattern: containers
          merge-multiple: true
          path: ${{ github.workspace }}/container

      - uses: oras-project/setup-oras@v1
      - name: Run local/push-containers@v1
        id: push-containers
        working-directory: ${{ github.workspace }}/container
        run: |
          # login to ghcr.io
          echo ${{ secrets.GITHUB_TOKEN }} | oras login ghcr.io -u ${{ github.actor }} --password-stdin
          oras cp --from-oci-layout las.tar.gz:${{ needs.get-version.outputs.prefix }} ghcr.io/${{ github.repository_owner }}/io/las:${{ needs.get-version.outputs.semver }}
          oras cp --from-oci-layout las.tar.gz:${{ needs.get-version.outputs.prefix }} ghcr.io/${{ github.repository_owner }}/io/las:${{ needs.get-version.outputs.version }}
          oras cp --from-oci-layout las.tar.gz:${{ needs.get-version.outputs.prefix }} ghcr.io/${{ github.repository_owner }}/io/las:${{ needs.get-version.outputs.suffix }}

      - uses: actions/download-artifact@v7
        with:
          pattern: tools-*
          path: ${{ github.workspace }}/tools

      - name: Run local/compress-linux-tools@v1
        id: compress-linux-tools
        working-directory: ${{ github.workspace }}/tools/tools-linux-x64
        run: |
          tar --file ${{ github.workspace }}/tools/tools-linux-x64.tar.gz --gzip --create .

      - name: Run local/compress-windows-tools@v1
        id: compress-windows-tools
        working-directory: ${{ github.workspace }}/tools/tools-win-x64
        run: |
          zip -9 -r ${{ github.workspace }}/tools/tools-win-x64.zip .

      - uses: altemiq/update-existing-release@v1
        with:
          release: v${{ needs.get-version.outputs.prefix }}
          tag: v${{ needs.get-version.outputs.version }}
          files: >
            ${{ github.workspace }}/tools/tools-linux-x64.tar.gz
            ${{ github.workspace }}/tools/tools-win-x64.zip
          prerelease: true

      - uses: GeekyEggo/delete-artifact@v5
        if: ${{ steps.push-nuget.conclusion == 'success' }}
        with:
          name: nuget

      - uses: GeekyEggo/delete-artifact@v5
        if: ${{ steps.push-containers.conclusion == 'success' }}
        with:
          name: container.*

      - uses: GeekyEggo/delete-artifact@v5
        if: ${{ steps.compress-linux-tools.conclusion == 'success' }}
        with:
          name: tools-linux-*

      - uses: GeekyEggo/delete-artifact@v5
        if: ${{ steps.compress-windows-tools.conclusion == 'success' }}
        with:
          name: tools-win-*
